---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Simone Ballüer - 404";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>404: not found</h1>
    <p></p>
  </div>
</BaseLayout>
