---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Simone Ballüer - Contact";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Simone.ballueer@posteo.de</h1>
    <p></p>
  </div>
</BaseLayout>
