---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Simone Ballüer - Contact";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <p>simone.ballueer@posteo.de</p>
    <p></p>
  </div>
</BaseLayout>
