---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Jannis Reinelt - Video/Light/Camera";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <p>Coming soon...</p>
  </div>
</BaseLayout>
