---
import type { CollectionEntry } from "astro:content";
import ArtistCard from "./ArtistCard.astro";
import Tooltip from "./Tooltip.astro";

type Props = {
  artists: CollectionEntry<"artists">[];
};

const { artists } = Astro.props;
const grid = "artists";
---

<section class="artist-grid" id="grid" data-grid={grid}>
  {artists.map((artist) => <ArtistCard artist={artist} />)}
</section>

<Tooltip grid={grid} />

<style>
section {
    position: relative;
    overflow: visible;
    display: grid;
    width: 100%;
    max-width: 100vw; /* Prevents overflow */
    box-sizing: border-box;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem; /* Smaller gap for mobile */
    margin: 1rem 0 10rem;
    min-height: 400px;
  }
  @media screen and (min-width: 30em) {
    section {
      grid-template-columns: repeat(1, 1fr);
      gap: 2.5rem;
    }
  }
  @media screen and (min-width: 50em) {
    section {
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem; /* Reduce gap for large screens */
    }
  }
</style>
