---
import Separator from "../components/Separator.astro";
const year = new Date().getFullYear();
---

<Separator />
<footer>
  <p>
    © {year} Simone Ballüer. All rights reserved. <br />
  </p>
</footer>
<style>
  footer {
    padding: 2rem 0;
  }
  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-alt);
  }
</style>
