---
import TextSlider from "../components/TextSlider.astro";
import TextSlider2 from "../components/TextSlider2.astro";
import Separator from "../components/Separator.astro";

// Get the current pathname
const currentPath = Astro.url.pathname;
// Define a map of routes
const routes = {
  "/": "Home",
  "/contact/": "Kontakt",
};
// Determine the active route
const activeRoute = routes[currentPath] || null;
---

<header>
  <h1>
    <a href="/" class={activeRoute === "Home" ? "current" : ""}
      ><TextSlider2 content="Simone Ballüer" /></a>
  </h1>
  <span><TextSlider2 content="Bühnenbild / Kostümbild" /></span>
  <ul>
    <li>
      <a
        href="/contact/"
        class={activeRoute === "Contact" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Kontakt" /></a>
    </li>
  </ul>
</header>
<Separator />

<style>
  header {
    position: relative;
    display: grid;
    grid-template-columns: 20vw auto;
    font-weight: 700;
    padding: 1rem 0;
    gap: 1rem;
  }
  header a.current {
    pointer-events: none;
  }
  h1 {
    font-size: 1rem;
    font-weight: inherit;
    margin: 0;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    grid-column: auto / span 2;
  }
  @media screen and (min-width: 50em) {
    header {
      grid-template-columns: 30vw 4fr auto auto;
    }
  }
</style>
