---
import Separator from "./Separator.astro";

const currentPath = Astro.url.pathname;
---
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

<header>
  <div class="top-row">
    <a href="/">Jannis Reinelt</a>
    <div class="toggles">
      <button id="lang-toggle" aria-label="Language"></button>
      <button id="theme-toggle" aria-label="Theme"></button>
    </div>
  </div>
  <Separator />
  <nav>
    <ul>
      <li>
        <a href="/about/" class={currentPath === "/about/" ? "active" : ""}>
          <span class="lang-de">über</span>
          <span class="lang-en">about</span>
        </a>
      </li>
      <li>
        <a href="/" class={currentPath === "/" ? "active" : ""}>
          <span class="lang-de">projekte</span>
          <span class="lang-en">art/projects</span>
        </a>
      </li>
      <li>
        <a href="/video-light-camera/" class={currentPath === "/video-light-camera/" ? "active" : ""}>
          <span class="lang-de">video/licht/kamera</span>
          <span class="lang-en">video/light/camera</span>
        </a>
      </li>
      <li>
        <a href="/contact/" class={currentPath === "/contact/" ? "active" : ""}>
          <span class="lang-de">kontakt</span>
          <span class="lang-en">contact</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
a.active {
  /* text-decoration: underline;
  text-underline-offset: 4px; */
  color: var(--color-link-hover);
}
</style>
