---
import type { CollectionEntry } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

type Props = {
  projects: CollectionEntry<"projects">[];
};

const { projects } = Astro.props;
const grid = "projects";

const sortedProjects = projects;
---

<section class="project-grid" id="grid" data-grid={grid}>
  {sortedProjects.map((project) => <ProjectCard project={project} />)}
</section>


<style>
  section {
    position: relative;
    overflow: visible;
    display: grid;
    width: 100%;
    max-width: 100vw; /* Prevents overflow */
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(26.1rem, 1fr));
    gap: 1rem;
    margin: 1rem 0 10rem;
    min-height: 400px;
  }
</style>
